.Modal{
  position: fixed;
  display: flex;
  top: 0;
  z-index: capa(capa10);
  width: 100%;
  height: 100vh;
  background-color: $fondo-transparente;
  &:before{
    content: "x";
    color: white;
    position: absolute;
    top: .5rem;
    right: .5rem;
    font-size: 2rem;
    opacity: .7;
  }
  &-item{
    width: 92%;
    max-width: 1400px; //(mejorar)usar variable
    height: 85vh;
    margin: auto;
    background-color: azure;
    & iframe{
      width: 100%;
      height: 100%;
    }
  }
}

.scroll-iframe{
  -webkit-overflow-scrolling: touch;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0 auto;
  overflow-y: auto;
  & iframe{
    width: 100%;
    height: 100%;
  }
}
