section#modal.modal
  .modal-banner
    h1 Hecho en Valpo
    p Comunidad económica local
  .modal-propuesta
    h3 Propuesta
    p Esta plataforma servirá como una guía en la cual podrás ofrecer y encontrar los bienes y servicios que se producen y entregan en Valparaiso.
      |  Encontrarás tus productos y servicios favoritos fácilmente, para que puedas apoyar, con tu decisión de compra, el desarrollo de los emprendimientos de tus vecinos y vecinas.
      | Si tienes un emprendimiento, puedes unirte a nuestra comunidad y solicitar tu propia cuenta gratuita, en la que podrás, crear y mostrar tu perfil, ofrecer tus productos y/o servicios, buscar a otros emprendedores, guardar contactos, chatear con otros usuarios y, en un futuro, intercambiar con otros miembros de la comunidad sin dinero de por medio.
  .modal-vision
    .vision
      .vision-item
        h4 Visión
        p Reconstruir los lazos comunitarios que permiten el intercambio directo y horizontal de los bienes y servicios generados por las personas de un mismo territorio.
      .vision-item
        h4 Misión
        p Establecer una plataforma web que facilite, fomente y constituya un puente entre los productores y consumidores locales para conseguir atraer y contener los recursos generados dentro de un mismo territorio.
  .modal-unete
    h3 Únete
    p Si ofreces un servicio o elaboras un producto en Valparaíso, únete llenando este #[a(href="https://goo.gl/forms/gKXLUCCKKGEtdOSq1") formulario.]
  .c-enterate
    button#close
      i(class="fas fa-times")
