main.Main
  .Banner
    .Container-grid
      h1.Titulo Grupo GBV
      h2.Sub-titulo Búsqueda de vehículos robados
      p.Slogan Somos la justicia en las calles y la esperanza de las personas.
      button.Btn-cta Contáctanos
  section#somos
    .Box-text
      h2.titulo Quiénes Somos?
    .Box-text
      .Card-text
        p Somos una ONG que bla bla bla bla bla bla
  section#hacemos.Hacemos
    .Box-text
      h2.titulo Qué hacemos?
    .Box-text
      .Card-text
        h3.Titulo-card Buscamos vehículos robados
        p compartimos la información que ustedes nos entregan de los vehículos que han sido robados y, aprovechando la red de voluntarios que circulan en sus propios vehículos por la ciudad, avisan a las autoridades cuando encuentran un auto robado.
      .Card-text
        h3.Titulo-card Tiene costo?
        p No, es un trabajo voluntario realizado por personas que alguna vez fueron víctimas de robo o que, sencillamente, buscan cooperar en la búsqueda de los autos que han sido robados porque están cansados de que nos gane la delincuencia.
      .Card-text
        h3.Titulo-card Cómo opera?
        p Contamos con más de 400 integrantes que ayudan a la organización de manera voluntaria. Principalmente se dedican a recorrer las calles con la información de los autos que han sido robados y, al encontrarlos, se da aviso a las autoridades policiales para que recuperen tu auto.
