main.Main
  .Banner
    .Container-grid
      h1.Titulo Grupo GBV
      h2.Sub-titulo Búsqueda de vehículos robados
      p.Slogan Somos la justicia en las calles y la esperanza de las personas.
      a(class="Btn-cta" href="https://chat.whatsapp.com/invite/BpcpmjJnsoQG3mXEvLf0Xc", target="_blank") Contáctanos
  section#somos.Somos
    .Box-text
      h2.Titulo-2 Quiénes Somos?
    .Box-text
      .Card-text
        p.Parrafo El grupo GBV es una organización no gubernamental de desarrollo sin fines de lucro, ayuda a las víctimas a recuperar sus vehículos robados en terreno.
        p.Parrafo Operamos desde el año 2013 aunque, oficialmente, el grupo es fundado en el año 2014.
    .Box-btn
      button.Btn-modal#Historia Saber más
  section#hacemos.Hacemos
    .Box-text
      h2.Titulo-2 Qué hacemos?
    .Box-text
      .Card-text
        h3.Titulo-3 Buscamos vehículos robados
        p.Parrafo Compartimos la información que ustedes nos entregan de los vehículos que han sido robados y, aprovechando la red de voluntarios que circulan en sus propios vehículos por la ciudad, detenemos y damos aviso a las autoridades cuando encuentramos un auto robado.
      .Card-text
        h3.Titulo-3 Tiene costo?
        p.Parrafo No, es un trabajo voluntario realizado por personas que alguna vez fueron víctimas de robo o que, sencillamente, buscan cooperar en la búsqueda de los autos que han sido robados porque están cansados de que nos gane la delincuencia.
      .Card-text
        h3.Titulo-3 Cómo opera?
        p.Parrafo Contamos con más de 400 integrantes que ayudan a la organización de manera voluntaria. Principalmente se dedican a recorrer las calles con la información de los autos que han sido robados y, al encontrarlos, se da aviso a las autoridades policiales para que recuperen tu auto.
      .Card-text
        h3.Titulo-3 Es legal lo que hacemos?
        p.Parrafo Si, es completamente legal, somos una ONG que auxilia a las víctimas voluntariamente operando dentro del marco de la ley con las facultades de todo ciudadano para retener a un delincuente frente a un delito flagrante para llamar a las autoridades cuando el riesgo es mayor.
  section.Sumate#sumate
    .Box-text
      h2.Titulo-2 Súmate
    .Box-text
      .Card-text
        p.Parrafo Si quieres ser parte de la red de ayuda del Grupo Búsqueda de Vehículos, como víctima, como colaborador o solamente participar como integrante de alguna institución, llena nuestro formulario que se encuentra más abajo. Lo anterior es para mantener un registro de la cantidad de personas a nivel nacional que se encuentran participando, además nos permitirá mantener un sistema de filtros debido a la información sensible que se maneja como ONG de ayuda a las víctima del delito de robo de vehículo.
        p.Parrafo Esperamos tu comprensión y te recordamos que es importante llenar los campos solicitados dentro del formulario, si eres víctima y tienes un auto para reportarnos, en el mismo formulario te damos la opción de incorporarlo.
        p.Parrafo Una vez recepcionada la información se realizará una revisión de los antecedentes y se te informará sobre tu ingreso, en el caso de existir problemas también se te avisara el motivo por el cual no puedes ingresar.
    .Box-text
      .Card-text
        h3.Titulo-3 Únete
        p.Parrafo Accede a nuestro formulario de inscripción haciendo click sobre el boton.
        button.Btn-modal#FormJoin Formulario
      .Card-text
        h3.Titulo-3 Síguenos
        p.Parrafo Puedes seguirnos en Facebook o unirte a nuestro grupo de Whatsapp
        a(href="https://www.facebook.com/GrupoGBV/?referrer=whatsapp", target="_blank").Icon-link.fab.fa-facebook-square
        a(class="Icon-link fab fa-whatsapp" href="https://chat.whatsapp.com/invite/BpcpmjJnsoQG3mXEvLf0Xc" target="_blank")
      .Card-text
        h3.Titulo-3 Apóyanos
        p.Parrafo Recibimos donaciones en nuestra cuenta del Banco Estado
        p.Parrafo Número: 23571897385
        p.Parrafo O a través de PayPal
        form(action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top")
          input(type="hidden" name="cmd" value="_s-xclick")
          input(type="hidden" name="hosted_button_id" value="KL25PV4QN2REY")
          input(type="image" src="img/boton-paypal.png" border="none" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button")
          img(alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1")
include ../elements/modal-historia
