//- Variables
-let titulo = "Grupo GBV | Búsqueda de vehículos robados";
//- -let url = "http://localhost:3000/";
-let url = "https://gbvong.cl/";
-let descripcion = "El grupo búsqueda de vehículos es una organización no gubernamental de desarrollo, creada hace 6 años, ayuda a las víctimas de robo de autos a recuperarlos en terreno. ";
-let fuentes = "https://fonts.googleapis.com/css?family=Anton|Roboto&display=swap";
-let iconos = "https://use.fontawesome.com/releases/v5.7.2/css/all.css";
-let hamburguesa = "https://cdnjs.cloudflare.com/ajax/libs/hamburgers/1.1.3/hamburgers.min.css";
-let sweetalert = "https://cdn.jsdelivr.net/npm/sweetalert2@8";

-
  let link = {
    inicio: url,
    hacemos: "#hacemos",
    somos: "#somos",
    sumate: "#sumate"
  }


//- sintaxis
//- - var saludo = "Hola mundo!"
//- asignación
//- p = saludo
//- //interpolación
//- p Soy un #{saludo}
