.Footer-container{
  width: var(--main-maximo);
  margin: auto;
  max-width: $ancho-maximo;
  letter-spacing: 0;
}

.Footer-columns{
  border-bottom: 1px solid color(secondary);
  padding: 1rem 0;
  @include mq(md){
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
